.kit-cards {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: 'Plavsky', sans-serif;
}
  
.kit-card {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(184, 184, 184);
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 2px;
}

.kit-card:hover {
  transform: translateY(-15px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}

.kit-card h3 {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Plavsky', sans-serif;
  background-color: inherit;
}

.kit-card-content {
  height: 100%;
}

.kit-card p {
  margin: 10px 0; /* adds 10px spacing between top and bottom */
  font-size: .8rem;
  font-family: 'arial', sans-serif;
}

.kit-card label {
  margin: 10px 0; /* adds 10px spacing between top and bottom */
  font-size: .8rem;
  font-family: 'arial', sans-serif;
}

.kit-card.loaded {
  animation: easeIn 0.5s forwards;
}

.kit-card.unloaded {
  animation: easeOut 0.5s forwards;
  transform: translateY(-10px);
  opacity: 0;
}

/* New class for delete button */
.kit-card .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(117, 33, 33);
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  font-family: 'Plavsky', sans-serif;
}

/* Animation for delete button */
.kit-card .delete-button:hover {
  background-color: darkred;
}

.kit-card::-webkit-scrollbar {
  width: 0.5em;
}

.kit-card::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  outline: 1px solid slategrey;
}